<body>
	<div class="container">
		<div class="innerwrap">
		
			<section class="section1 clearfix">
				<div class="textcenter">
					<span class="shtext">Contact Us</span>
					<span class="seperator"></span>
					<h1>Drop Us a Mail</h1>
				</div>
			</section>
		
			<section class="section2 clearfix">
				<div class="col2 column1 first">
					<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d406.90572704044433!2d73.7545170131981!3d20.00742380268652!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xcc138500bb7fdc44!2sBhonsala+Bhavan!5e1!3m2!1sen!2sin!4v1530161247409" width="500" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>								
				</div>
				<div class="col2 column2 last">
					<div class="sec2innercont">
						<div class="sec2addr">
							<p>45 BC, a Latin professor at Hampden-Sydney College in Virginia</p>
							<p><span class="collig">Phone :</span> +91 976885083</p>
							<p><span class="collig">Email :</span> vivek.mengu016@gmail.com</p>
							<p><span class="collig">Fax :</span> +91 9768850839</p>
						</div>
					</div>
					<div class="sec2contactform">
						<h3 class="sec2frmtitle">Want to Know More?? Drop Us a Mail</h3>
						<form [formGroup]= "registerForm">
							<div class="clearfix">
								<div class="row">
									<div class="col mb-3">
										<label for="firstname" class="form-label">First Name</label>
										<input type="text" class="form-control" id="firstname" formControlName="firstname">
										<div class="form-text text-danger" *ngIf="FirstName.errors?.['required'] && (FirstName.touched || FirstName.dirty)">
											First Name is required.
										</div>
										<div class="form-text text-danger" *ngIf="FirstName.errors?.['pattern'] && (FirstName.touched || FirstName.dirty)">
											Name should start with an alphabet.
										</div>
									</div> &nbsp;&nbsp;&nbsp;
								<div class="col mb-3">
									<label for="lastname" class="form-label">last Name</label>
									<input type="text" class="form-control" id="lastname" formControlName="lastname">
									<div class="form-text text-danger" *ngIf="LastName.errors?.['required'] && (LastName.touched || LastName.dirty)">
										Last Name is required.
									</div>
									<div class="form-text text-danger" *ngIf="LastName.errors?.['pattern'] && (LastName.touched || LastName.dirty)">
										Name should start with an alphabet.
									</div>
								</div>				</div>			</div>
							<div class="clearfix">
								<div class="row">
									<div class="col mb-3">
										<label for="email" class="form-label">Email</label>
										<input type="email" class="form-control" id="email" formControlName="email">
										<div class="form-text text-danger" *ngIf="Email.errors?.['required'] && (Email.touched || Email.dirty)">
											Email is required.
										</div>
										<div class="form-text text-danger" *ngIf="Email.errors?.['email'] && (Email.touched || Email.dirty)">
											Email is invalid.
										</div>
									</div>&nbsp;&nbsp;&nbsp;
									<div class="col mb-3">
										<label for="mobile" class="form-label">Mobile Number</label>
										<input type="text" class="form-control" id="mobile" formControlName="mobile">
										<div class="form-text text-danger" *ngIf="Mobile.errors?.['required'] && (Mobile.touched || Mobile.dirty)">
											Mobile Number is required.
										</div>
										<div class="form-text text-danger" *ngIf="Mobile.errors?.['pattern'] && (Mobile.touched || Mobile.dirty)">
											Mobile Number is invalid.
										</div>
										<div class="form-text text-danger" *ngIf="Mobile.errors?.['minlength'] && (Mobile.touched || Mobile.dirty)">
											Mobile Number is short.
										</div>
										<div class="form-text text-danger" *ngIf="Mobile.errors?.['maxlength'] && (Mobile.touched || Mobile.dirty)">
											Mobile Number is long.
										</div>
									</div></div>
								</div>
							<div class="clearfix">
								<textarea name="textarea" id="" cols="30" rows="7">Your message here...</textarea>
							</div>
							<div class="clearfix"><input type="submit" value="Send"></div>
						</form>
					</div>

				</div>
			</section>
		
		</div>
	</div>
</body>
<app-footer></app-footer>